.postborder-frame {
		border: 1px solid #000;
		display: inline-block;
		padding: 20px 0px 20px 0px;
		margin: 10px;
		background-color: rgba(47,85,114, 0.3);
		text-align: center;
		color: #FFF;

		&--xs-padding {
			padding: 9px;
		}

		&--active {
			color: lightgrey;
			background-color: $mainBlue;
		}

		&--round-border {
			border-radius: 20px;
		}


		&--survey {
			width: 100%;
			margin-bottom: 25px;
		}
	}
